@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: 
		url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v20-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
		url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/roboto-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local(''),
		url('../fonts/roboto-v20-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/roboto-v20-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'SalesforceSans-Regular';
  font-style: normal;
  font-weight: 400;
  src: 
		url('../fonts/SalesforceSans-Regular.woff2') format('woff2'), 
		url('../fonts/roboto-v20-latin-500.woff') format('woff'); 
}
/* Подключение box-sizing border-box для правильного расчета разметки */
html {
	box-sizing: border-box; 
}
/*наследует значения родителя*/ /*заставляем box-sizing наследоваться, так как по умолчанию before, after не наследуется*/
*,
*::before,
*::after {
	box-sizing: inherit; 
}
input, textarea, select { font-family:inherit; font-size:inherit;font-weight:inherit;line-height:inherit}

body {
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	color: #53565A;
	& header {
		margin-bottom: 12px;
	}
}
.visually-hidden {
	position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
.content-wrapper {
	display: block;
	max-width: 1440px;
	min-width: 320px;
	min-height: 1024px;
	padding: 20px;
	margin: 0 auto;
	background: url(../images/main_background.png) no-repeat right 6px top 218px;
	// max-width: 903px;
	// width: 100vw;
	// height: 735px;
	// background-size: contain;
}

.header {
	max-width: 784px;
	min-width: 280px;
	& nav {
		border-top: 1px solid #E2E2E2;
		margin-left: 26px;
		margin-bottom: 12px;
	}
	& .search-wrapper {
		margin-bottom: 31px;
	}
	& form {
		flex:1;
	}
}
.search-wrapper {
	display: flex;
	align-items: center;
	justify-content:space-between;
	& .logo {
		margin-right: 20px;
		width: 174px;
		height: 44px;
	}
}
.logo {
	background: url(../images/logo.svg) no-repeat;
	background-size: contain;
}
.search-input {
	width: 100%;
	height: 40px;
	padding: 9px 10px 10px 40px;
	background: url(../images/Search.svg) no-repeat #F6F6F6;
	background-position: left 15px top 14px;
	border: 1px solid #E2E2E2;
	border-radius: 4px;
	box-sizing: border-box;
	box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	color: #53565A;
	outline: none;
	&::placeholder {
		opacity: 0.3;
	}
	&:hover {
		box-shadow: 0px 6px 20px rgb(47 128 237 / 75%);
    border: 1px solid rgba(47, 128, 237, 0.75);
		transition: box-shadow 0.45s 0.05s ease-in-out;
	}
	&:focus-visible {
		outline: 1px solid rgba(47, 128, 237, 0.5);
		box-shadow: 0px 6px 20px rgb(47 128 237 / 75%);
	}
}
.tab-list {
	max-width: 525px;
	display: flex;
	justify-content: space-between;
	& .tab {
		margin-top: 18px;	
	}
	& li {
	width: 175px;
	text-align: center;
	outline: none;
	cursor: pointer; 
	}
	& li:focus-visible {
    outline: 1px solid rgba(47, 128, 237, 0.5);
		box-shadow: 0px 6px 20px rgb(47 128 237 / 75%);
	}
}	
.tab {
	display: block;
	padding: 5px;
	text-align: center;
	height: 30px;
	font-weight: 900;
	color: #53565A;
	opacity: 0.5;
	border: 0; 
	text-decoration: none;
	outline: none;
	background-color: #FFFFFF;
	&:hover {
		color: rgba(83, 86, 90, 0.7);
	}
}	
.tab--active {
	border-top: 4px solid #2F80ED;
	& .tab {
		opacity: 1;
	}
}
.main {
	max-width: 763px;
	min-width: 280px;
	margin: 0 24px 0;
}
.add-wrapper {
	min-height: 37px;
	.add-label {
		margin-bottom: 4px; 
	}
	.add-input {
		margin-bottom: 11px;
	}
	.add-button {
		margin-left: auto;
		margin-bottom: 23px;
	}
}
.add-label {
  font-family: 'SalesforceSans-Regular';
	font-size: 12px;
	line-height: 15px;
	color: #706E6B;
}
.add-input {
	width: 100%;
	height: 90px;
	padding: 16px 12px 13px 23px; 
	box-sizing: border-box;
	border: 1px solid #DDDBDA;
	border-radius: 4px;
	outline: none;
	overflow: auto;
	vertical-align: top;
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	color: #53565A;
	&:hover {
		box-shadow: 0px 6px 20px rgb(47 128 237 / 75%);
    border: 1px solid rgba(47, 128, 237, 0.75);
		transition: box-shadow 0.45s 0.05s ease-in-out;
	}
	&:focus-visible {
		border: 1px solid rgba(47, 128, 237, 0.75);
		box-shadow: 0px 6px 20px rgb(47 128 237 / 75%);
	}
}
.add-button {
	width: 191px;
	height: 36px;
	padding: 10px;
	background-color: #2F80ED;
	font-size: 14px;
	color: #FFFFFF;
	box-shadow: 0 2px 6px 0 rgb(0 0 0 / 50%);
	display: block;
	border: 0; 
	cursor: pointer; 
	outline: none;
	&:hover {
		box-shadow: 0px 6px 20px rgb(47 128 237 / 75%);
	}
	&:focus-visible {
		box-shadow: 0px 2px 6px rgb(0 0 0 / 75%);
	}	
}
.todo-list {
	    /*ul - список задач*/
	& .todo-item {
		margin-bottom: 17px;
	}
	& .button-wrapper {
		margin-left: 21px;
	}
}
.todo-list li.todo-item {
	cursor: pointer; 
	display: flex;
	justify-content: space-between;
	padding: 16px 12px 13px 23px; 
	width: 100%;
	min-height: 109px;
	background: #FFFFFF;
	box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	position: relative;
	&:hover {
		border-radius: 4px;
		box-shadow: 0px 6px 20px rgb(47 128 237 / 75%);
    border: 1px solid rgba(47, 128, 237, 0.75);
		transition: box-shadow 0.45s 0.05s ease-in-out;
	}
	&:focus {
		outline: none;
		box-shadow: 0px 6px 20px rgb(47 128 237 / 75%);
    border: 1px solid rgba(47, 128, 237, 0.75);
	}
	&:focus-within .important-button,
	&:focus-within .bin-button {
		display: block;
	}
	&.todo-task--important .important-button{
		background: #bdbdbd;
		&:before {
			content: 'NOT IMPORTANT';
		}
	}
	&.todo-task--done p {
		text-decoration-line: line-through;
	}
	&.todo-task--done .important-button {
		display: none;
	}
}
/*на вкладке ALL все задачи (todo-item) отображаются*/
.todo-list--all .todo-item {
	display: block;
}
/*на вкладке active отображаются все задачи (todo-item), кроме тех, у кого класс todo-task--done */
.todo-list--active .todo-item {	
	&:not(.todo-task--done) {
		display: flex;
	}
	&.todo-task--done {
		display: none;
	}
}
.todo-list--done {
	padding-top: 37px	;
}
.todo-list--done .todo-item {
	&.todo-task--done {
		display: flex;
	}
	&:not(.todo-task--done) {
		display: none;
	}
}
//li


/*если отсутствует/присутствует  тачскрин:*/
.can-hover .todo-item {
	& .important-button,
	& .bin-button {
		display: none;
	}
	&:hover .important-button,
	&:hover .bin-button {
			display: block;
	}
}
.todo-item .important-button,
.todo-item .bin-button {
	display: block;
}

.todo-task {
	flex-grow: 1;
	display: inline-block; // в одну линию со звездой
	max-width: 100%;
	white-space: pre-wrap; // разрешаем перенос строк
	word-wrap: break-word; // указывает, переносить или нет длинные слова, которые не помещаются по ширине в заданную область
}
.todo-task--important {
	font-weight: bold;
	& .todo-task:before {
    content: url(../images/star_border.svg); // звезда
		margin-right: 10px;
	}
}
.button-wrapper {
	display: flex;
	justify-content: flex-end;
	width: 244px;
	& .important-button {
		margin-right: 21px;
	}
}
.important-button {
	width: 183px;
	height: 36px;
	padding: 10px 16px;
	border: 0; 
	font-weight: 500px;
	text-align: center;
	border-radius: 20px;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.75px;
	color: #FFFFFF;
	box-shadow: 0 2px 6px 0 rgb(0 0 0 / 40%);
	cursor: pointer; 
	outline: none;
	&:hover {
		box-shadow: 0px 6px 20px rgb(47 128 237 / 75%);
	}

	&:focus-visible {
		box-shadow: 0px 2px 6px rgb(0 0 0 / 75%);
	}
}
.important-button--not-active {
	background: #27AE60;
	&:before {
		content: 'MARK IMPORTANT';
	}
}
.bin-button {
	background: url(../images/Delete.svg) no-repeat;
	width: 40px;
	height: 40px;
	border: 0; 
	border-radius: 50%;
	cursor: pointer; 
	outline: none;
	&:hover {
		box-shadow: 0px 6px 20px rgb(47 128 237 / 75%);
	}
	&:focus-visible {
		box-shadow: 0px 2px 6px rgb(0 0 0 / 75%);
	}
}

@media screen and (max-width: 768px) {
	.main {
		margin: 0;
	}
	.content-wrapper {
		background-size: 100%;
	}
	.todo-list {   
		& .button-wrapper {
			margin-left: 0;
		}
	}
	.button-wrapper {
		align-self: flex-end;
	}
	.todo-item {
		flex-direction: column;
	}
	.todo-task {
		margin-bottom: 5px;
	}
	.header {
		& nav {
			margin-left: 0;
		}
	}
}
@media screen and (max-width: 500px) {
	.search-wrapper {
		flex-direction: column;
		& .logo {
			margin-right: 0;
			margin-bottom: 20px;
			width: 174px*0.8;
			height: 44px*0.8;
		}
		& form {
		width: 100%;
		}
	}
	.header {
		& .tab-list {
			margin-left: 0;
		}
	}
	.tab-list {
		width: 100%;
		margin: 0 auto;
	}
}


